@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-base: var(--font-roboto), "Arial", "Helvetica", sans-serif;
  --font-accent: var(--font-source-code-pro), "Courier New", monospace;

  --color-primary-100: #dedeef;
  --color-primary-200: #c8ccfc;
  --color-primary-300: #c3b8fe;
  --color-primary-400: #a7a7ff;
  --color-primary-500: #434189;
  --color-primary-600: #2d2858;
  --color-primary-700: #26252e;
  --color-primary-800: #151515;
  --color-primary-900: #0c0c11;

  --breakpoint-xs: 25rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 85rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 170rem;
}

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }
  body {
    @apply bg-primary-700 text-primary-100 font-base text-base md:text-lg;
  }
}
